<!DOCTYPE html>
<html>
  <head>
    <title>EasyML</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= vite_client_tag %>
    <%= vite_react_refresh_tag %>
    <%= vite_typescript_tag 'Application.tsx' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html> 