<!DOCTYPE html>
<html>
  <head>
    <title>EasyML</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <% if ENV["EASY_ML_DEV"] == "true" %>
      <%= vite_client_tag %>
      <%= vite_react_refresh_tag %>
      <%= vite_typescript_tag 'Application.tsx' %>
    <% else %>
      <%= prod_script_tags %>
    <% end%>
  </head>
  <body>
    <%= yield %>
  </body>
</html> 